.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 50px;
}

.image{
    height: 750px;
}

header{
    padding: 40px;
}

.cart2{
    background-color: pink;
    border-radius: 10px;
    font-size: 150%;
    font-weight: bold;
    cursor: pointer;
}

